[2019-10-02 14:47] yGuy opened #1 "Should we / may we have the dependent libs in the repo?"
I don't think we should have the lib folder with all the jars in there. They should be acquired at build-time from public repositories and be removed (history-rewrite?) from the repository.

[2019-10-14 13:06] Fohlen opened #3 "Implements attribute doesn't work for class element in rename keep section"
Don't treat a class element with a "implements" attribute as if no "name" attribute is present. was correct for extends, just not for implements.

[2019-10-14 13:15] Fohlen opened #4 "Scala compiler bytecode issue"
Interestingly the bytecode produced by the scala compiler indicates that
method `MyAction.setEnabled` is called - unfortunately there is no such
method, instead the `AbstractAction.setEnabled` is called. The `javac`
compiler does not emit this kind of bytecode, but rather inserts the
root definition of the method (`MyAction` does not override `setEnabled` and
thus there is no `MyActoin.setEnabled`

[2019-10-14 13:16] Fohlen opened #5 "yGuard locks jars referenced in externalclasses element"
A jar that is referenced in the externalclasses element in the yGuard task is locked even after yGuard has finished and thus cannot be moved/deleted.

The problem is that the URLClassLoader in the classes that implement ClassResolver in obfuscate and shrink are never released. Since Java 7 there is a method URLClassLoader.close() which closes all streams opened by that classloader. Previous versio

[2019-10-14 13:19] Fohlen opened #6 "ClassNotFound issue when project path starts with '#' symbol"
We are experiencing issue with yguard rename task when project folder name starts with '#'. One of our engineer names projects per issue numbers, every project name starts with '#'. When he tries to build project it shows very strange error.

[#issue.zip](https://github.com/yWorks/yguard/files/3724571/issue.zip)

[2019-10-15 08:09] Fohlen opened #7 "Public inheritance of internal classes does not seem to work correctly"
Verify if this works:

[code]

@micschro suggested the following workaround:
[code]

[2019-10-15 08:11] Fohlen opened #8 "Document default values for naming-scheme, language-conformity, overload-enabled, etc."

[2019-10-15 08:13] Fohlen opened #9 "Improve error message when trying to shrink Java 11 class files"
Shrinking Java 11 byte code results in

[code]

It would probably be a good idea to configure ASM to accept Java 11 byte code instruction, track the occurrence of such instructions, and after ASM is done have yGuard abort with a sensible error message along the lines of "Shrinking is not supported for Java 11 class files" or "... class files with invokedynamic and/or nest instructions".

[2019-10-15 08:16] Fohlen opened #10 "<class/> behaves contrary to documentation"
`<class/>`

differs from

[code]
which it should not

[2019-10-15 08:19] Fohlen opened #11 "Inconsistent behavior for conflicting naming rules"
if classes are excluded from obfuscation in the `<keep>` section or by the `mainclass` attribute, but part of the fully qualified nam of these classes is explicitly mapped using the `<map>` element, yGuard adheres to the `<map>` element for the actual renaming, but doesn't reflect this in the output log. Therefore, deobfuscating stacktraces using the logfile doesn't work.

[inconsistentconflicting

[2019-10-15 08:20] Fohlen opened #12 "Chain exception for classloader issues"
If Classloading fails, the exception is not chained

[2019-10-15 08:22] Fohlen opened #13 "Deobfuscation tool doesn't translate scrambled line numbers of unobfuscated classes"
Line number descrambling will only work for classes included in the <map> section of the log file.

fix: parse `<expose>` section in addition to the `<map>` section?
or: use input name when mapping fails, but descramble line number anyway?

[2019-10-15 08:22] Fohlen opened #14 "Replace all entries in the manifest that obviously point to an entry in the jar file with the obfuscated paths"

[2019-10-15 08:23] Fohlen opened #15 "add @Inherited support to obfuscation annotation"

[2019-10-15 08:24] Fohlen opened #16 "Make .setComment() not set null value to achieve android Java compatibility."

[2019-10-15 08:26] Fohlen opened #17 "non-class non-metainf files are trimmed when the filename contains a dollar-sign ($)"
for example, property files for inner classes have to be
`"MyClass#MyInnerClass.properties"`
but yguard simply writes a file named `"MyClass"`

this happens with all non-class non-metainfo files:

`"MyTest$TextFile.txt"
`becomes
`"MyTest"`

[2019-10-15 08:29] Fohlen opened #18 "Support Java 8 Type Annotations"
[Java 8 Type Annotations](https://blogs.oracle.com/java-platform-group/java-8s-new-type-annotations) are currently not supported.
When they are used, yGuard prints "WARNING: Unrecognized attribute 'RuntimeVisibleTypeAnnotations'" warnings.

- [Spec](https://docs.oracle.com/javase/specs/jvms/se8/html/jvms-4.html#jvms-4.7.20)
- [Samples.zip](https://github.com/yWorks/yguard/files/3728140/Samples.zip

[2019-10-15 08:30] Fohlen opened #19 "MANIFEST Main-Class attribute is not fully supported"
path to a main class has to be in the format `com.yworks.MyMainClass` for `yGuard` to replace the name correctly, whereas it is also possible in the jar file format to write it like `com/yworks/MyMainClass`. Using the latter will lead to an invalid jar file.

[2019-10-15 08:32] Fohlen opened #20 "improve documentation on <attribute>"
where should it be placed?
works both as a child of `<yguard>` and of `<keep>`, but doesn't work as a child of `<rename>`.

@micschro suggested:
placing it as a child of `<rename>` should yield an error message?

[2019-10-15 08:35] Fohlen opened #21 "Special treatment of .resources. packages for .properties files - rename according to class in super package"

[2019-10-15 08:39] Fohlen opened #22 "Deobfuscation utility cannot deal with unobfuscated class names"
While using yGuard with an example project a bug appeared. When obfuscating only parts of the code (only licensed code), yGuard cannot deobfuscate the entire package, but only classes that have been obfuscated.

[2019-10-15 08:42] Fohlen opened #23 "extends/implements for the keep/classes element is not honored by the shrinker"
Instead all classes are being kept.

[TestingObfuscationSample.zip](https://github.com/yWorks/yguard/files/3728202/TestingObfuscationSample.zip)

[2019-10-15 08:45] Fohlen opened #24 "rename: same method inherited from multiple interfaces"
The following inheritance diagram:

![coincidental-inheritance-bug](https://user-images.githubusercontent.com/3730888/66815539-b7100c00-ef38-11e9-8bef-46cd524810e9.png)

Can be reconstructed with the following code:

[code]

will generate the following obfuscation log
[code]

and change implementation like this:
[code]
log:
[code]

[2019-10-15 08:51] Fohlen opened #25 "fix "digestes" property bug"
Reported by @petrsuchomel25

Guys,
I found pretty nasty issue in yGuard.
If you are processing jar files and you do not want to add digest
into manifests (but you want to have manifest updated) and set
<property name="digests" value="none"/> property, classes are
omitted from having digests, but all resources will have digests
(both SHA-1and MD5) anyway.
This might be causing serious problems if y

[2019-10-15 13:43] #1 closed, assigned to nobody

[2019-10-15 14:23] Fohlen opened #26 "Remove obsolete ObfuscatorTask"
It has been obsolete for quit a while. Replace with `YGuardTask`. See https://github.com/yWorks/yguard/blob/0dad808605b695e696c747d92ff1324370a7ae58/src/main/java/com/yworks/yguard/ObfuscatorTask.java#L109.

Go to `2.10` release (because this is a breaking change for some users) afterwards.

[2019-10-15 14:25] Fohlen opened #27 "Set up Travis to run tests"
- `gradle` check should be sufficient

[2019-10-16 09:51] #27 closed

[2019-10-16 10:28] Fohlen opened #28 "Set up Travis for CD"
- Upload `obfuscated` dist to GitHub releases on tag
- Upload JavaDoc to GitHub releases on tag

[2019-10-16 13:20] Fohlen opened #29 "Build a separate ObfuscationAnnotation jar"
(Have a look at 2.8.0 distribution)

[2019-10-16 13:21] Fohlen opened #30 "Default distribution does not contain all dependencies"
Either:

- adjust documentation for classpath
- just pack everything up
+

[2019-10-16 13:32] Fohlen opened #31 "Store libraries in lib folder"
Currently it is stored in `libs` which is not by convention

[2019-10-16 13:35] Fohlen opened #32 "Bundle a release jar with libraries"
Include only:

- `lgpl`
- `asm`
- `guava`

Use an appropriate naming scheme.
Add dependencies to `yguard.jar` MANIFEST.

[2019-10-17 10:01] Fohlen commented on #31
Duplicate of #32

[2019-10-17 10:01] #31 closed

[2019-10-17 10:03] Fohlen commented on #30
Will be closed by #32

[2019-10-17 10:03] #30 closed

[2019-10-17 10:04] #32 closed

[2019-10-17 12:58] Fohlen commented on #29
Closed by 80441b0228e0d1282f1811652167ecec9817d83c

[2019-10-17 12:58] #29 closed

[2019-10-17 13:14] #28 closed

[2019-10-17 13:17] Fohlen commented on #26
After talking to @thomasbehr we agreed that this should be postponed / handled differently.

[2019-10-17 13:47] Fohlen opened #33 "Correctly set yGuard version while build"

[2019-10-21 10:07] Fohlen opened #34 "Upload artifacts to Maven central"
Add documentation on how to use the tasks with Maven / Gradle.

- https://gist.github.com/mikroskeem/8a6ecaa21742ee18686fc07563b6459a
- `gradle/obfuscate.gradle`

[2019-10-25 09:00] lgka commented on #9
I get the same error when I try to obfuscate a jar created with openjdk >=9
I notice that yguard 2.9.0 contains asm-7.2.jar but I still get this error...

[2019-11-06 16:49] Fohlen opened #38 "Switch from Travis to GH actions if possible"
Why? Simple:

- running multiple workflows at once without trying to scream at the computer while setting it up :whale:
- runs mucho faster than Travis

[2019-11-08 08:13] lgka commented on #9
Hello, is there any workaround for the above error or planned to be fixed in a future release ? I use the latest openjdk 13.0.1

[2019-11-08 08:25] yGuy commented on #9
The project was open-sourced just recently, so the community hasn't grown, much, yet. We certainly don't have the resources to fix all open issues, immediately on our own, yet. And as much as I hate to say it, we also open-sourced it, hoping that others might step in to help with the implementation and maintenance. Sadly most open-source lovers, still only love open source because it's free, and d

[2019-11-18 12:41] Fohlen commented on #38
Closing this as GitHub has a interesting policy of forcing OSS projects to use their per-user billing plan.

[2019-11-18 12:41] #38 closed

[2019-11-18 12:42] #26 closed

[2019-11-18 14:52] #33 closed

[2019-11-20 16:09] #8 closed

[2019-11-20 16:43] Fohlen commented on #25
After investigating the code, this patch has previously been applied. Closing.

[2019-11-20 16:43] #25 closed

[2019-12-02 15:22] #16 closed

[2019-12-02 15:42] Fohlen commented on #12
Checking with the code base, this issue appears to be outdated. Exceptions are chained in `pedantic` mode.

[2019-12-02 15:42] #12 closed

[2019-12-02 15:52] #15 closed

[2019-12-02 15:59] Fohlen commented on #5
This bug has already been fixed. Recent versions of `yGuard` do this correctly.

[2019-12-02 15:59] #5 closed

[2019-12-31 09:13] yGuy opened #42 "Add README to release and links"
We should be linking to https://github.com/yWorks/yGuard/releases for those who download the zip instead of using maven or gradle. The zip file itself should at the very least contain a readme file linking to us (why not have the github main readme).

[2020-02-08 03:55] angelsinistanbul opened #43 "Yguard Obfuscation in a Spring Boot Project"
Let me ask you something. Have a an application that is written on spring boot. To obfuscate the jar via yguard, i have no success that i would like to exclude BOOT-INF/lib folder. Could you help me on it?

Thanks a lot.

[2020-02-09 16:07] Fohlen commented on #43
Hey @angelsinistanbul
Please have a look at the `resources` demo. You can use the `adjust` block to prevent renaming / shrinking of your `BOOT-INF` folder. See https://github.com/yWorks/yGuard/blob/master/examples/resources/pom.xml#L55

[2020-02-15 14:41] angelsinistanbul commented on #43
I have tried the example. However, i could not make it. If you would like to try it via spring-boot-maven-plugin, i am pretty sure that you wont make it. By the way, i have been trying to obfuscate the jar for 2 weeks :)

[2020-02-17 08:46] yGuy commented on #43
You are "pretty sure that we won't make it"? I guess we should not even try, then.
What makes you think so? We can't even tell whether you even tried. You could have at least shared your configuration and told us where you struggled.

[2020-02-17 17:30] Fohlen commented on #43
@angelsinistanbul could you please provide a sample including:

1) your `pom.xml` (or other config)
2) a description of what exactly you are trying to do and how it can be reproduced

You can also upload a test case for your project here (as a pull request or as a zip archive in the issue section). This way we can avoid future problems with setting up `yGuard` and Spring Boot.

[2020-02-24 16:35] neil-benn opened #45 "java.lang.NoClassDefFoundError: com/yworks/yguard/obf/NoSuchMappingException"
Hello,

  I've got a spring boot jar I'm attempting to obfuscate and I'm in the early stages.  I've tried executing the obfuscation on the plain spring boot jar using version 2.9.1 (retrieved from maven) but I get the following stack trace:

`C:\Users\neilb\Documents\GitHub\datapaq5\build.xml:20: java.lang.NoClassDefFoundError: com/yworks/yguard/obf/NoSuchMappingException
        at com.yworks.ygu

[2020-02-25 13:33] neil-benn commented on #43
Hello,

  I'd like to pick this up because I'm doing the same thing but I am 'pretty sure we will make it'!  The issue is that the BOOT-INF contains two sets of resources.  The first is the class files; this is the actual application and this is what needs to be obfuscated and the second is the lib directory which doesn't.  Running a 'vanilla' obfuscate has the problem that yGuard thinks that the

[2020-02-25 13:53] Fohlen commented on #43
@neil-benn it would be good if you could create a test case in the `examples` folder. This way I can also check it out locally.

Do the issues still occur when disabling the shrinker? We are aware of some issues with lambdas and the shrinker in Java 10+ and will be fixing them asap.

[2020-02-25 14:51] Fohlen commented on #45
Hey @neil-benn, `yguard.jar` depends on the other libraries delivered with the bundle. Did you copy these as well to the folder? They need to be in the same folder, otherwise `yguard` cannot find them, hence a `NoClassDefFoundError`

[2020-02-25 16:18] neil-benn commented on #45
That is a very good point!  I've just looked at the pom for 2.9.1 - I'm running ant off maven so maybe the classpath of the dependent POMs isn't being passed through.  I'll check that now.

[2020-02-25 16:45] neil-benn commented on #43
Thanks for your response.  I can't easily put up unobfuscated code to demonstrate it so an example is a bit tricky but I can look into it.  What I've got right now is that in the unobfuscated jar; the top directory is:

BOOT-INF
META-INF
org (this contains the spring code

After obfuscation I have:

A
B
BOOT-INF (this contains the dependent libs and unobfuscated code)
com (this contains obfuscated

[2020-02-25 18:15] neil-benn commented on #45
Hmm, not so easy because the classpath is buried somewhere.  I'll keep looking but I agree that is likely the issue.  I'll work on it to help the project but I'm happy with 2.7.1 and I don't think I need the features between 2.7.1 and 2.9.1.

[2020-02-26 14:22] neil-benn commented on #43
I'm addition; interestingly even though I'm excluding org.** yGuard is still obfuscating the org.springframework.** classes.  These are not in BOOT-INF but in the root of the jar so they should be excluded?

[2020-02-26 22:16] neil-benn commented on #43
OK; I've done some more work.  The yguard task now is:

[code]
Now I've properly referenced the external classes in my jars; I've got the root of the obfuscated jar looking like:

BOOT-INF
com
META-INF
org

  Now the original code has been removed from BOOT-INF but the unobfuscated code is still at the top level - I still need this in the BOOT-INF.  I could break the jar open and just move the cod

[2020-02-27 08:58] thomasbehr commented on #43
You are on the right track here:
Move your code into a "regular" jar (i.e. no code in BOOT-INF), obfuscate the regular jar, repackage the obfuscated jar for Spring Boot (i.e. jar with code in BOOT-INF).

[2020-02-27 09:01] angelsinistanbul commented on #43
I guess my question that I asked you all, is not a question, It should be a bug?

[2020-02-27 09:32] thomasbehr commented on #43
Spring deliberately packages code in a non-standard way - "non-standard" as in "BOOT-INF is not part of the JAR specification", see [JAR File Specification](https://docs.oracle.com/en/java/javase/13/docs/specs/jar/jar.html).
yGuard does not support this non-standard packaging. You might call it a missing feature, but it is not a bug.

[2020-02-27 12:27] neil-benn commented on #43
I agree that it is not a bug at all; Spring Boot does weird things!  I'll work up an ant script to do what you suggested and then make a minimised version and drop it in the examples if you'd like me to do that?

[2020-02-27 12:28] Fohlen commented on #43
@neil-benn that would be nice! We can add it to the `examples` folder. I can also port the example to `Maven` and `Gradle` so it will be available for the wider community. All the best.

[2020-03-11 15:00] meetinger opened #46 "JavaFX fxml support"
After obsufiaction, my jar does not start due to an error:
`caused by: java.lang.ClassNotFoundException: com.example.Controller
        at java.net.URLClassLoader.findClass(URLClassLoader.java:382)
        at java.lang.ClassLoader.loadClass(ClassLoader.java:418)
        at sun.misc.Launcher$AppClassLoader.loadClass(Launcher.java:355)
        at java.lang.ClassLoader.loadClass(ClassLoader.java:351)

[2020-03-12 10:09] thomasbehr commented on #46
Obfuscating FXML files is not explicitly supported. However, if you only need to adjust class names, you can try adding
[code]
to the <rename> element of your <yguard> task. yGuard is not able to adjust method names that are specified as event handlers in FXML, though.

[2020-03-13 16:57] gbl opened #47 "invokeDynamic calls being dropped under some circumstances"
Minimal example here. This is the java code:

[code]

which compiles and runs as expected.

Running through yguard (first happened to me when I was using 2.6, then updated to 2.9.2, same result):

[code]

makes running the obfuscated file result in a crash, tested with oracle jdk 8.201 and openjdk 12.0.1:

[code]

Investigating the class files with javap shows this in the original class file:

[co

[2020-03-13 17:00] yGuy commented on #47
Wow - thank you very much for the perfect analysis and test-case. We'll check this ASAP!

[2020-03-13 17:06] yGuy commented on #47
What target Java version did you use, i.e. how exactly did you compile the class?
What was the class file version of the unobfuscated .class file?

[2020-03-13 17:16] thomasbehr commented on #47
This is **not** a bug. yGuard's shrinker simply does not support `invokedynamic`, see the last sentence of [Java 7 / Java 8 Compatibility](https://yworks.github.io/yGuard/compatibility/#java-7--java-8-compatibility) section in the yGuard documentation.

We do plan to improve yGuard's shrinker in this respect for one of the next releases, though.

[2020-03-13 17:23] Fohlen commented on #47
As @thomasbehr pointed out this is currently a unsupported feature. Java 13 support (including `invokedynamic`) is on the list and will be included asap.

[2020-03-13 21:02] gbl commented on #47
Answering yGuys question: I used OpenJDK 12 to compile, with target set to Java 8. The class files had Major version 52 so seem to have been version 8 (Oracle JDK 1.8.201 was happy to load them).

Running javac from oracle JDK 1.8.201 on the minimalexample produces an invokedynamic too.

Replacing the lambda with an inner class in the source fixed the problem as it replaces the `invokedynamic` in

[2020-03-17 11:56] Fohlen commented on #4
@thomasbehr and me are adding support for `LambdaMetaFactory` and `StringConcatFactory` to the shrinker and obfuscator. If you are a user of Scala and would like to support this in the future, please have a look [at the following document](https://github.com/yWorks/yGuard/blob/master/docs/compatibility_to_3rd_party_jvm_code.md).

[2020-03-17 11:56] #4 closed

[2020-03-23 13:57] Fohlen commented on #43
@angelsinistanbul and @neil-benn, please have a look at the [processing example](https://github.com/yWorks/yGuard/tree/master/examples/processing). It obfuscates a spring boot application.

[2020-03-23 13:57] #43 closed

[2020-03-23 13:58] Fohlen commented on #45
Closing this for now.

[2020-03-23 13:58] #45 closed

[2020-03-23 13:59] Fohlen commented on #46
@yanchikdev did this fix your issue? Can it be closed?
@thomasbehr should we add a `fxml` example to the `examples` folder?

[2020-03-23 14:02] neil-benn commented on #43
Hello,

 Thanks, I've done it all in ant and I'm just finishing it off as there are
a lot of what ifs.  When I've done that I'll strip it out to give an
example and submit it to yguard.  However I've been pulled onto other
matters for a short while.

Cheers,

Neil

On Mon, 23 Mar 2020, 13:57 Lennard Berger, <notifications@github.com> wrote:

[2020-03-23 14:03] neil-benn commented on #45
Thanks for all your help

On Mon, 23 Mar 2020, 13:58 Lennard Berger, <notifications@github.com> wrote:

[2020-03-23 14:32] yanchikdev commented on #46
@Fohlen Yeah, I excluded the controller from obfuscation and it worked.
But I still wanted yGuard to be able to rename methods in FXML

[2020-03-24 09:08] #42 closed

[2020-03-24 16:54] thomasbehr commented on #46
@Fohlen As long as yGuard does not support obfuscating method names in FXML files, I do not think an example is the proper place for providing this kind of information. I would prefer to have this piece of information as part of the yGuard documentation.

[2020-03-25 10:42] Fohlen commented on #18
Verify whether this actually still true. I guess it is already solved and can be closed (add test case).

[2020-04-08 05:05] adrianbn opened #51 "Crash when using IntStream"
Seems like yGuard has some trouble obfuscating code that uses IntStream. Here's a sample application that fails:

[code]

After obfuscating the jar, trying to execute it results in:

[code]

[2020-04-08 07:01] yGuy commented on #51
How exactly did you obfuscate the jar? Did you try to use the shrinker? There are some known incompatibilities: https://yworks.github.io/yGuard/compatibility/

We have plans to improve the situation, though. @Fohlen - where is the corresponding issue, I can't seem to find it.

[2020-04-08 07:36] Fohlen commented on #51
it's #48 . I'll give your example a try once the PR is merged!

[2020-04-08 16:38] adrianbn commented on #51
Hey @yGuy,

this is what I used to obfuscate:

[code]

[2020-04-08 17:28] thomasbehr commented on #51
The `shrink(logfile: "${buildDir}/yshrink.log.xml") {...}` part of your `ant.yguard` target means that you are shrinking your application. Shrinking is not yet supported for Java 8 and newer class files.

[2020-04-16 09:57] Fohlen commented on #18
I have verified this on 3ebbd26009e2cacb92a5963515b4a4ba6d044eec and it is indeed obsolete.

[2020-04-16 09:57] #18 closed

[2020-04-16 10:05] Fohlen commented on #3
Duplicate of #23

[2020-04-16 10:05] #3 closed

[2020-04-16 10:33] Fohlen commented on #22
Duplicate of #13

[2020-04-16 10:33] #22 closed

[2020-04-16 10:40] Fohlen commented on #20
Placing it as a child of `yguard` makes no sense. It currently can be placed anywhere. However so, it should only be a child of the `shrink` task. Fix this.

[2020-04-16 10:46] Fohlen opened #53 "Add support for directories in inoutpairs"
While creating the `processing` example I noticed that for certain use cases it is indeed annoying to create a JAR as input or output. It is technically feasible, and reasonably easy to implement directories for input.

I will want to make the file extensions the `inoutpair` optional. If you do not specify `.jar` as your file extension `yGuard` should assume we are reading from a directory.

Other

[2020-04-16 11:14] thomasbehr commented on #20
Wait a second, the <attribute> element does affect renaming as well as shrinking. Even if renaming but not shrinking, yGuard is able (or rather will) remove (optional) attributes from class files. While it may seem counter-intuitive to remove attributes when renaming but not shrinking, this actually make sense because removing attributes like SourceFile, LineNumberTable, LocalVariableTable actuall

[2020-04-16 11:34] Fohlen commented on #20
Judging from the source code, the `attributesSections` variable is currently (even before this PR) respected ONLY in the shrinker. I think we are talking about the `attribute` child element for the rename task then? Why are they named the same (confusing)?

[2020-04-16 11:42] Fohlen commented on #23
This bug appears to have been fixed in acc700757b22d12d7da3bc64689c68e5b1c43020
Closed because irreproducible.

[2020-04-16 11:42] #23 closed

[2020-04-16 11:53] Fohlen commented on #10
This behavior is irreproducible on acc700757b22d12d7da3bc64689c68e5b1c43020
Closing.

[2020-04-16 11:53] #10 closed

[2020-04-17 08:48] #6 closed

[2020-04-17 09:27] Fohlen commented on #7
This behavior appears to be fixed in  25058ea7ad7537499fd47a70a5dcb83725bef6b0
Closing because irreproducible.

[2020-04-17 09:27] #7 closed

[2020-05-06 06:17] KiraResari opened #55 "yGuard Documentation ~ Broken Link "Task documentation""
I stumbled across a broken link in the yGuard Documentation, leading me to the following partially non-existent page.

https://yworks.github.io/yGuard/task

How I got there:

1. On the github page of yGuard (https://github.com/yWorks/yGuard), in the  README.md section, under "Usage" click on the link "is available" in the sentence "An online version of this documentation is available."
2. This wil

[2020-05-06 06:21] KiraResari commented on #55
Some of the other links in the body table of content seem to be outdated too.

For example, the link on "Using `Gradle`" points to:
https://yworks.github.io/yGuard/setup/#installation-using-gradle
...instead of the correct anchor:
https://yworks.github.io/yGuard/setup/#setup-using-gradle

[2020-05-07 05:26] KiraResari opened #56 "Annotation @Obfuscation causes error: package com.yworks.util.annotation does not exist"
Based on this documentation page: https://yworks.github.io/yGuard/task_documentation/#controlling-obfuscation-exclusion-with-annotations

...I am trying to exclude the main function of my class from Obfuscation using:
[code]

My IDE (Eclipse 2019-14) apparently believes that package path to be valid, since it does not show an error.

However, when I try to Gradle build the project, I get the follo

[2020-05-07 06:01] KiraResari opened #57 "Rename > Keep > Method causes : java.lang.IllegalArgumentException:"
I am trying to create a gradle task for Obfuscating my code, and I've got it to work, basically.

However, I am now trying to make the Obfuscation ignore the main function of my program so I can still run it. Using Annotations for this did not work (see https://github.com/yWorks/yGuard/issues/56), so I am now trying to do this with a keep > method element.

I have created the following code in the

[2020-05-07 06:03] KiraResari commented on #57
The error is also the same if I remove the "" around "class":
[code]

[2020-05-07 06:38] KiraResari commented on #56
As a workaround, I now created my own annotation class in the project, as described in the documentation:

[code]

...and then included it in the gradle task as following:

[code]

[2020-05-07 07:19] thomasbehr commented on #56
The Obfuscation class is in a separate jar (which is mentioned in the documentation you linked to above). As a result, you need to add an additional compile dependency to your gradle script:
[code]
Please see this [gradle script](https://github.com/yWorks/yGuard/blob/master/examples/annotation/build.gradle) for an example.

[2020-05-07 08:05] thomasbehr commented on #57
You may not
- include the visibility modifier in the name attribute
- include the static modifier in the name attribute
- include parameter names in the name attribute.
Moreover, you have to use qualified names for parameter types.
I.e. the correct `keep` specification is
[code]
Please see this [gradle script](https://github.com/yWorks/yGuard/blob/master/examples/application/build.gradle) for an e

[2020-05-07 08:05] #57 closed

[2020-05-07 09:36] KiraResari commented on #56
I see. Thanks for thin information. =^,^=

Could you please add this to the documentation? It would be a really valuable advice for people like me who only have a year or so experience in Gradle and are not yet familiar with all the implications.

[2020-05-07 09:44] KiraResari commented on #56
Umm, I tried this now, but it gave me the following error while trying to build:

[code]

for

[code]

I also tried this, but it also didn't work:

[code]

This caused the error to become:

[code]

@thomasbehr : Sorry, but could you please re-open this? It seems to me like this is not solved just yet.

[2020-05-07 10:54] KiraResari opened #58 "Dependent files break after obuscation"
I am in the situation where I have to obfuscate two related JARS: A main JAR containing the module and a library that contains components that are shared between multiple components. But thus far, everything I've tried has resulted in the module not finding the shared components.

Here is one attempt:

[code]

This compiles. However, when I try to run it, I get a variation of the following error:

[2020-05-07 10:57] KiraResari commented on #57
Thanks! There was no way I could have figured that out just from reading the documentation. Can you maybe add this? I imagine that would be really valuable to people wanting to work with yGuard.

[2020-05-07 13:52] #56 closed

[2020-05-07 13:53] thomasbehr commented on #56
Sorry, there was a typo in my first answer: Exactly as in the yguard dependency there has to be a colon right before `annotation` not a dot. It is corrected now.

[2020-05-07 15:32] thomasbehr commented on #58
When you obfuscate your module jar and the library jar on which your module depends, yGuard should create two new jars, an obfuscated module jar and an obfuscated library jar. (With "an obfuscated jar" I mean a jar with obfuscated classes.) This pair of obfuscated jars has to be used together and the obfuscated library jar cannot be used with other module jars that have not been obfuscated togethe

[2020-05-08 05:58] KiraResari commented on #56
Thanks! Now it works!

I am reasonably sure there also needs to be a ' behind the entire statement, but that one was obvious enough for me to figure out.

Just out of interest, was there any possible path for me to get from the `com.yworks.util.annotation.Obfuscation` mentioned in the documentation to the `compile "com.yworks:annotation:2.9.2"`? I've been trying to search the Maven Repository, and

[2020-05-08 06:34] KiraResari commented on #58
Ah, now I see what I was doing wrong! I was starting the program using `java -jar module_obf.jar`, so I (naively) assumed that it would also automatically use the `library_obf.jar` in conjunction with it. It didn't occur to me that I needed to rename it.

Or actually, looking back through my protocol, it _did_ occur to me, but at a very early stage during the project when I had it separated into t

[2020-05-08 10:12] Fohlen commented on #58
Hey @KiraResari we will try to replicate this with a simple code sample and add it to the examples to sort out future conversation. I will close this ticket once that's done!
Thanks and all the best,

Lennard

[2020-05-08 10:17] Fohlen commented on #55
Thanks for the heads up, I will fix these asap

[2020-05-09 04:52] KiraResari commented on #58
Anyway, just wanted to let you know that I managed to get this to work for two modules using the same lib being obfuscated separately, and so far, it seems like the two modules can communicate with one another just fine.

[2020-05-22 07:32] #9 closed

[2020-05-22 07:32] #47 closed

[2020-05-22 07:32] #51 closed

[2020-05-22 07:36] #55 closed

[2020-05-22 08:03] Fohlen commented on #58
After looking into this issue it seems like this is an advanced yGuard topic that can be solved (e.g if one keeps looking into the documentation). It appears to me that a example of this use case isn't very much suited for a larger audience.

[2020-05-22 08:03] #58 closed

[2020-05-25 08:07] Fohlen commented on #19
Tested on 0d4df9eaeded418da213738c0da7df524e69f59c
This has been fixed already. Closing.

[2020-05-25 08:07] #19 closed

[2020-05-25 08:10] Fohlen commented on #46
Since `yFiles` is also offered for JavaFX applications it probably makes sense to add this functionality to `yGuard` to cover the use case. Moving up on our priority list.

[2020-05-25 09:51] Fohlen commented on #13
I will implement the behavior like this:

- parse both the `map` and `expose` sections
- when using the `deobfuscate` text field to unscramble lines the deobfuscation function will look up wether a mapping exists. If no mapping exists, it will additionally check if this element has been exposed in the `expose` section
- if the element has been exposed but it is not mapped, it is not obfuscated. He

[2020-06-04 09:15] Fohlen commented on #20
The `attribute` section described is actually correct behavior as pointed out by @thomasbehr
Closing.

[2020-06-04 09:15] #20 closed

[2020-06-04 09:19] #13 closed

[2020-07-04 09:23] rob-daneel opened #62 "ERROR: Illegal char <:> in jar shrinking"
Hello,

I'm using the latest version of yGuard to shrink and rename (obfuscate) a jar archive. I created an ant script (see the file "build.xml" in the attached zip - the user name in the paths is substituted with some asterisks) using the latest version of Eclipse with the JDK11 on Windows 10, but the shrink operation fails with the message reported in the object (see also the file "yshrinklog.xm

[2020-07-05 14:28] Fohlen commented on #62
Hello @rob-daneel
I seem to be unable to open `docs.zip` with the provided password.
Alternatively you may use https://dpaste.org/ or a similiar service to attach logs here.
All the best,

Lennard

[2020-07-05 16:42] rob-daneel commented on #62
Hello again,

the link for build.xml: https://dpaste.org/22MJ
the link for yshrinklog.xml: https://dpaste.org/hVPi

Best regards.

[2020-08-26 11:45] gurachan opened #64 "how to make string unreadable or scrambled or obfuscated?"
everything is obfuscated except for strings.. also can i exclude some strings not to be obfuscasted that has pattern too

[2020-08-26 12:14] yGuy commented on #64
By default the pattern for strings that are excluded from obfuscation is /.*/
:-D
We're happy to receive pull requests for this new feature. We consider it to be of very little value, to be honest, and that's why this has not been implemented for almost 20 years, now.

[2020-08-26 12:47] Dj-jom2x commented on #64
aw, that's unfortunate for me. well, I guess I should wait for it. but it could help to make it more nonsense :)

[2020-08-26 15:33] Fohlen commented on #64
@Dj-jom2x if you obfuscate strings you will need a mechanism to deobfuscate said strings at runtime. You would likely put this mechanism in your obfuscated JAR making it very vulnerable for reverse engineering. I would say the benefits clearly do not outweigh the hassle of implementation, but as @yGuy said we would not oppose to it as an additional feature via a PR.

[2020-09-05 19:54] ilpersi commented on #62
I have the same issue. Have you been able to reproduce this or you need more input?

[2020-09-06 23:22] awoolfe commented on #62
Same issue here (Windows PC):

[2020-09-07 09:51] #62 closed

[2020-09-07 09:51] Fohlen commented on #62
The corresponding changes will land in upstream yGuard with the next version. Cheers 🍻

[2020-09-07 12:12] Fohlen opened #66 "Add Android example"
`yGuard` can be used to obfuscate code that will result in an APK. In order to this one needs to:

- disable R8 obfuscation and shrinking
- use yGuard as an extra step in the build file
- run D8 after yGuard

This has the benefit that yGuard is very extensible and well documented in comparison to R8.
Potentially this should be accompanied with a small Hello World app and Android Studio Project fil

[2020-09-07 12:19] Fohlen opened #67 "Propose a flow obfuscation mode"
Many obfuscation tools throughout different languages support _"flow obfuscation"_. The process how this can be done is fairly accurately described in [this post](https://reverseengineering.stackexchange.com/a/2222). yGuard may (or may not) support such a mode. The implementation should try to generate some simple flow obfuscation that can be optionally enabled (during the rename task). One could

[2020-09-07 12:21] Fohlen opened #68 "Research additional obfuscation techniques"
There are many possible ways of obfuscation. It would be good to create a table / chart in the documentation which ones exist and are supported by yGuard. Inspiration could be drawn from [this paper](https://www.sciencedirect.com/science/article/pii/S0167404816300529). The scope of this ticket is to create a new documentation page with mentioned details.

[2020-09-07 12:24] Fohlen opened #69 "Update yGuard to work with Java 14"
- Look up changes between Java 13 and 14 in the JVM spec (byte code)
- Implement these changes, if any
- Increment the version number to support `>= 58`

[2020-09-07 12:39] Fohlen opened #70 "Replace dependance on Guava with custom graph class"
Currently yGuard relies on [Guava.Network](https://guava.dev/releases/21.0/api/docs/com/google/common/graph/Network.html) in order to perform graph analysis for the Shrinker. It would probably suffice re-implementing this ourselves, because we only need a tiny subset of the functionality:

- find which functionality exactly is used from Guava
- write a graph class that does the equivalent (if need

[2020-09-09 20:17] ilpersi opened #71 "Question: how do I make sure that packaged dependencies are not stripped out from the obfuscated jar?"
First of all let me compliment you for this amazing tool.

I have the following question: I am packaging my Java jar with Maven and the `maven-assembly-plugin` with the `jar-with-dependencies configuration` this makes it so that all the required dependencies are packaged as part of my final jar.

When I try to obfuscate this jar using yGuard all the packed dependencies are stripped out and thus th

[2020-09-10 08:37] Fohlen commented on #71
Hello there @ilpersi
This sounds like you are using the `shrink` element. You may use whitelists to ignore these classes using the [keep](https://yworks.github.io/yGuard/task_documentation/#the-keep-element) element.

[2020-09-10 10:47] ilpersi commented on #71
I @Fohlen, currently I am not using shrink because of #62 so somehow the obfuscated jar is shrunk anyway even if no `shrink ` element is present in the configuration. Is that even possible?

[2020-09-14 09:54] Fohlen commented on #71
@ilpersi can you try to replicate this with a minimal set of code? Of the top of my head I cannot think of any way that the `rename` task would strip classes (in fact, I don't even think it is capable of doing so). This seems like undesired behaviour / a fatal bug.

[2020-09-15 08:41] Fohlen commented on #69
As far as I can tell no breaking (in a sense of obfuscator-breaking) feature has been introduced. [java.lang.invoke.constant](https://cr.openjdk.java.net/~vromero/constant.api/javadoc.04/java/lang/invoke/constant/package-summary.html) has been introduced. We should add an option to remove these informations as well (similar to how we deal with SourceLineNumber)

[2020-09-15 09:46] ilpersi commented on #71
Hi @Fohlen, I can try to set up a minimal boilerplate to reproduce this.

Before you post I went a bit further with this: as I see that #62 is fixed in the master branch, I cloned it and pointed my maven to the latest compiled jar so that I can also test with the shrink configuration.

Now I have the following task XML

[code]

As you can see below, comparing the two decompiled jars, all the class

[2020-09-15 10:56] ilpersi commented on #71
Hi @Fohlen and sorry for double posting.

As mentioned before I've set-up a [simple boilerplate](https://github.com/yWorks/yGuard/issues/71) to reproduce this.

It is basically a "Hello World" example, using a single dependency (log4j2) and built with the technique explained in my first post.

If you use IntelliJ, using the Maven integration, it will be quite easy to set it up and package it.

Hop

[2020-09-15 11:14] yGuy commented on #71
This one:
[code]
Should probably be this:
[code]
Note the duplicated `*` which have a different meaning in Ant - your rules tells yguard to keep all classes which are directly in javax and afu, but *not* nested inside, I guess. Please try and see if this changes anything.

[2020-09-15 11:16] yGuy commented on #71
You are using "keep" which is basically the same as "shrink", so without the "keep" all should be fine.

[2020-09-15 12:03] ilpersi commented on #71
@yGuy
- using `**` does not solve the issue (I also reproduced this in the boilerplate I linked before)
- for #62 I solved compiling from the master branch and pointing Maven to my compiled .jar so I can use shrink without issues.

[2020-09-21 09:42] Fohlen commented on #53
Closed by #72

[2020-09-21 09:42] #53 closed

[2020-09-23 18:08] Fohlen opened #77 "Fix JavaDoc warnings"
Currently there are about 100 JavaDoc warnings generated from our source code. Fix these warnings by properly implementing the comments.

[2020-09-25 01:57] just-linux commented on #77
I would like to take this on for Hactoberfest.

[2020-09-25 04:12] just-linux commented on #77
I have ran ./gradlew javadoc and I am not seeing the the JavaDoc warnings. If I need to build them another way let me know.

After running ./gradlew clean I ran the following:
(base) john@p7-1297cb:~/Programming/GitHub-repos/yGuard$ ./gradlew javadoc
BUILD SUCCESSFUL in 7s
3 actionable tasks: 3 executed

[2020-09-25 06:50] Fohlen commented on #77
Hello there and thanks for taking this on @just-linux

Running `./gradlew clean javadoc` prints [the following warnings](https://dpaste.org/YGL2) for me.

Iirc if you run `./gradlew build` then JavaDoc is already executed. When you consequently run JavaDoc again, Gradle will notice that it is "UP-TO-DATE", and thus not do anything. Using `clean` before any consequent step should make it work in an

[2020-09-26 21:27] just-linux commented on #77
I will start on the next batch of warnings that showed up when I finished the first 100. This may be a big task since the warnings stop at 100.

[2020-09-28 08:38] Fohlen commented on #77
@just-linux please follow our contribution guidelines and:

- create **one** pull request / branch per issue. I can recommend using [GitHub Desktop](https://desktop.github.com/) or comparable software to manage your clone of yGuard
- make sure the tests are passing. your proposed changes break our CI (see https://github.com/yWorks/yGuard/pull/85/checks?check_run_id=1170301132)

[2020-09-28 09:09] Fohlen opened #86 "Add support for invokeconstant"
See https://openjdk.java.net/jeps/309
Apparently this is an unused feature in terms of bytecode until Java 14. Needs to be implemented once it becomes relevant in Java >= 15.

[2020-09-28 09:09] Fohlen commented on #69
Fixed by #78

[2020-09-28 09:09] #69 closed

[2020-09-28 09:38] #17 closed

[2020-09-29 12:00] Fohlen commented on #14
After evaluation of #11 I discovered that this is already the case. Closing.

[2020-09-29 12:00] #14 closed

[2020-10-01 09:13] #21 closed

[2020-10-01 11:23] #11 closed

[2020-10-05 12:22] Fohlen commented on #46
@meetinger I've set up an example with FXML support. However there are two issues that currently need to be handled by hand:

- if you reference a method name from your FXML you need to exclude it from obfuscation
- if you use anonymous functions that actually have semantics (e.g `ActionEvent.handle`) you will need to exclude those from obfuscation as well

I think this is a well enough tradeoff f

[2020-10-11 02:51] risharde opened #90 "How to obfuscate methods and class names?"
Hi guys, very new to yGuard. I finally got it going with the following xml but I notice that yGuard doesn't change methods, class names etc. I'm wondering if I over expected from this obfuscator. Can you HOW to automatically obfuscate methods, class names etc. I've used "Java Decompiler" and noticed that my method names are seen in plain sight. Also obfuscation strings should be something you guys

[2020-10-12 06:26] yGuy commented on #90
Because you told it to do so:
[code]

[2020-10-12 06:26] #90 closed

[2020-10-17 14:24] Hassan-Elseoudy commented on #77
Fixed, please have a look at #91 @Fohlen :)
Have a good day.

[2020-10-21 08:23] Fohlen commented on #77
Hey @Hassan-Elseoudy
Your PR looks really good!
I will try to review it before October 31 so it will count towards your #hacktoberfest contributions.
All the best,

Lenny

[2020-10-21 09:35] Hassan-Elseoudy commented on #77
Looking forward for your review.
Enjoy your day

[2020-10-26 11:22] #46 closed

[2020-10-26 11:23] Fohlen commented on #46
Closing this because of inactivity and because we see the current tradeoff as sufficient for most use cases.

[2020-10-27 09:15] hwcconde opened #93 "[ant:shrink] ERROR: Illegal char <:> at index 2: /C:/absolute-path-to-jar-file"
Hello,

Sorry if it's a basic question but I've been unable to find it.

I'm following https://github.com/yWorks/yGuard/blob/master/examples/library/build.gradle

I need to specify the path to my jar file, so I changed line 44 to say:
`def archivePath = "relative-path-to-jar-file"`

Then when I try to execute the task I find the error
`[ant:shrink] ERROR: Illegal char <:> at index 2: /C:/absolute-

[2020-10-27 09:49] Fohlen commented on #93
Hey @hwcconde this issue has indeed already been addressed and a fix will arrive in the `3.0.0` release. We would like to ask your to be patient until this release has landed on Maven Central. In the meantime you could use the `master` branch of yGuard already, which contains the necessary fixes.

[2020-10-27 09:49] #93 closed

[2020-10-27 09:53] #77 closed

[2020-10-29 13:32] #70 closed

[2020-11-01 16:52] ilpersi commented on #71
@Fohlen @yGuy have you been able to reproduce this?

[2020-11-01 17:59] Fohlen commented on #71
Unfortunately I was unable to reproduce this. If you wish to resolve this issue please try to:

- create a minimal `pom.xml` leveraging the `3.0.0-SNAPSHOT` from the current master branch
- create some pseudo-code consumed by your `pom.xml`
- attach these files as an archive to the ticket

If we can reproduce your issue this way, we can help you write a config / fix potential bugs.
All the best

[2020-11-02 16:16] ilpersi commented on #71
@Fohlen I created what you ask [here](https://github.com/ilpersi/yGuar-boilerplate). Unfortunately in my previous comment the link was wrong.

It is basically a "Hello World" example, using a single dependency (log4j2) and built with the technique explained in my first post.

If you use IntelliJ, using the Maven integration, it will be quite easy to set it up and package it and get the issue repro

[2020-11-03 13:14] Fohlen commented on #71
Hey there @ilpersi
I have checked out your repository and noticed a few problems right away:

[code]

Does **exactly** what it is supposed to. It will obfuscate the `yGuar-boilerplate-1.0-SNAPSHOT` archive in the target directory, and produce a `obfuscated.jar` from it. This archive does **not** contain any dependencies (as would be expected).

Further you can not change your configuration like so

[2020-11-03 13:14] #71 closed

[2020-11-27 06:11] doriancransac opened #94 "yGuard task fails to retain module-info.class files"
Hi,

The documentation says that yGuard supports java modules (although does not rename them, which is fine), however my obfuscated jars seem to "lose" the module-info.class files:

![image](https://user-images.githubusercontent.com/5418782/100416886-dbb53d80-307f-11eb-832d-3468914a63c9.png)

Here's my task (I believe all I did in comparison to the original examples is just remove the keep element

[2020-11-30 12:03] Fohlen commented on #94
Hey @doriancransac you should try this:

[code]

Module-info files are essentially Java classes being named `module-info`. I gave it a quick try with the [Java 9 modules sample](https://github.com/tfij/Java-9-modules---the-simplest-example), this seems to work.
Please let me know if it can be closed or if the issue persist.

[2020-12-07 10:50] #24 closed

[2020-12-11 14:42] Fohlen commented on #94
Closing because of inactivity.

[2020-12-11 14:42] #94 closed

[2021-01-16 14:08] cruuud opened #97 "yguard does not work on windows 10"
When simply using the Maven project I get the following error, which is because of wrong usage of Paths.get.
Fix:

change `Path jarPath = Paths.get( jarFile.getPath() ); ` on line 29 to `Path jarPath = Paths.get( jarFile.toURI())`;

`Illegal char <:> at index 2: /D:/git/MainProject/MainProjectJava/target/mainapp.jar
java.nio.file.InvalidPathException: Illegal char <:> at index 2: /D:/git/MainProje

[2021-01-20 09:40] Fohlen commented on #97
Hey @cruuud can you try building a `3.0.0-SNAPSHOT` from the master branch to reproduce? Iirc this issue has been resolved (#93) but the release addressing the issue has not been made yet.

[2021-01-26 07:36] cruuud commented on #97
Yep that one works! Thanks!

[2021-01-26 10:35] #97 closed

[2021-01-29 10:27] Fohlen opened #98 "Some file streams are not closed during shrinking"
File stream of the following types are not closed during shrinking:

- `com.yworks.util.abstractjar.StreamProvider `
- `com.yworks.yshrink.core.Writer.write`
- `com.yworks.yshrink.core.Analyzer.visitAllClasses`

This problem has been here before the `3.0.0` release and has only been identified during the release process. The result may potentially be many IO access requests and memory consumption.

[2021-02-04 01:08] serega-upgini opened #99 "('Unrecognized bootstrap method: scala/runtime/LambdaDeserialize#bootstrap(...)') occured during the remapping"
Hi, trying to obfuscate scala app, here is my gradle snippet:
[code]
the idea is to obfuscate only app classes and do nothing with the rest.
I get exception. Why does yGuard tries to do smth with class from scala package? It's marked as 'keep"
[code]

[2021-02-05 19:03] Fohlen commented on #99
Hey @serega-upgini this issue happens because you are trying to remap a `invokedynamic` structure that is not included in the JRE. This is most likely caused because Scala includes such instructions. Please see [our documentation](https://yworks.github.io/yGuard/compatibility/#compatibility-to-3rd-party-jvm) on how `invokedynamic` is handled in yGuard. Currently Scala features are not supported, b

[2021-02-07 19:28] serega-upgini commented on #99
Hi @Fohlen , thanks for your response. We need to think about your proposals. For now Im' a bit puzzled. Config excludes all scala and org classes. Why does yGuard still try to do smth with scala classes?

[2021-02-07 20:13] Fohlen commented on #99
Hey serega,I'm afraid the matter is a bit more complex. Imagine you obfuscate a class which is not scala and then call that class from your scala code. yGuard will need to evaluate all invocations to resolve the calls to the renamed class in order for the code to work.If however your scala code does not require to call any of the obfuscated code or vice-versa you can try following the processing e

[2021-02-08 20:46] serega-upgini commented on #99
Thanks for your explanation.

[2021-03-01 12:44] adminy commented on #64
I have the following anotation
[code]

but the `methodsOfInterest` method got renamed.

So is this a bug?

[2021-03-01 13:28] thomasbehr commented on #64
@adminy No, this is not a bug. yGuard does **not** adjust String literals that contain method or field names. Either exclude `methodsOfInterest` from obfuscation or do not use annotations that work on member names. Essentially, the same rules that apply to reflection apply here as well.

[2021-03-11 08:37] Fohlen commented on #66
@unnfajar unfortunately this ticket didn't make it into 3.0.0. If you are familiar with Android you can probably modify the [processing example](https://github.com/yWorks/yGuard/blob/master/examples/processing/README.md) to make it work.

[2021-03-24 02:37] marciox25 opened #100 "Java 15 support?"
Is this in the making or you guys wont support it?
Also, Im using it on java 8 and it works great. But I wonder if there is a way we can set a renaming mask.
Because what I have noticed, it is pretty easy to "remake" the code. Sometimes it doesnt even use the same renaming convention for 2 different variables. Eg, we have an "int value", and an "double valueD".
Both of those could be changed to "i

[2021-03-24 08:08] yGuy commented on #100
Regarding the "naming convention for variables" - there is none; variables don't have names in .class files. This information is not part of the bytecode unless you add debug information. What you are seeing are the names generated by your decompiler. If you want to see different names, change the decompiler.

If you think I am wrong, please provide more details as to what names you are referring,

[2021-03-24 09:44] marciox25 commented on #100
I think I mean properties.
On other obfuscators, we can provide a String prefix so the obfuscator uses for obfuscating methodnames, class names and even properties for example in the class

public class test {
    int test;
    double test2;
}

for the properties test and test2, here, sometimes they get changed to the letter "a" for both, but sometimes one gets "a" and other gets "b". Is there som

[2021-04-22 10:21] mendess opened #101 "Unknown problem is a null pointer exception caused by a missing null check"
https://github.com/yWorks/yGuard/blob/00e10b5b62c84aca0e2138e0ca12a702f8dc0abf/src/main/java/com/yworks/yshrink/core/Writer.java#L109-L110

`cd` can be null which will cause a null pointer exception and consequently a unhelpful `yShrink encountered an unknown problem!` diagnostic.

Checking and throwing a more informative exception, with the name of the unmodeled class would help troubleshoot the

[2021-04-28 21:51] Fohlen commented on #101
@mendess thanks for opening this ticket. I don't entirely understand how a class that's read from a JAR would become unmodelled inside the shrinker in this scenario. Can you share a test case with us so we can find a concise solution to this problem. All the best

[2021-05-05 14:51] mariantirlea commented on #64
Hi everyone, I think we can add something like this: [Simple string obfuscator](https://github.com/shamanland/simple-string-obfuscator). The idea is to replace the string with a new Object where the toString method is returning the correct string at runtime but I think it will crash the java decompilers. Do you think this will add value?

[2021-05-05 15:50] yGuy commented on #64
Why do you think that this would crash decompilers? This is completely legal java. It's just obfuscated in a very obscure way.
However disassembling the code, copy pasting it and running the piece of code will get you the clear results. I just pasted the sample code into an online java repl and it successfully returned "hello". So this will not crash decompilers.
Also this code will have a dramati

[2021-05-09 20:40] Fohlen commented on #100
In descending order of importance the items that probably need adjustments to be able to support Java 15:

- [Records](https://openjdk.java.net/jeps/384)
- [Sealed Classes](https://openjdk.java.net/jeps/360)
- [Text Blocks](https://openjdk.java.net/jeps/378)

As of now I am not aware of any plans to support Java 15 in the near future. Frankly there are few people who use Java 15 in production yet,

[2021-05-10 07:26] yGuy commented on #100
@marciox25

(Just so that we are on the same level (and with yGuard we are talking java bytecode so we should really use the right names to avoid confusion): these are not "properties" but "class fields".)

Unless you specify the mapping manually, no, there is currently no way of forcing this.
Could you please explain:

 * What would be the benefits of doing so?
 * How would you like to see this i

[2021-05-24 14:32] TimurDaas opened #102 "Digests for resources in rename task"
Hello.
I found out that property `digests` is ignored while processing resource files(e.g lang.properties) in rename task. It always uses two default hash algorithms: MD5 & SHA. Both of them are deprecated.
In shrink task - it works good. Property is not ignored.
It is not correct because OpenJDK(I tried in Linux) while checking JAR signature also checks MANIFEST.MF file and detects week hashing a

[2021-05-26 10:07] thomasbehr commented on #102
You are right, the `digests` property is currently ignored for resource files. Unfortunately, there is no workaround for this problem.

[2021-05-27 07:00] TimurDaas commented on #102
I can create pull request with fix, if you need my help?

[2021-06-01 21:23] TimurDaas commented on #102
Fixed. Changes will be able in future releases

[2021-06-01 21:23] #102 closed

[2021-06-02 18:42] dsokoya opened #104 "Static initialize constants is being discarded"
Hello,
The following static variable initialization
    transient static Map<String, Integer> indexTypeMap=new LinkedHashMap<String, Integer>() {{
        put("problems", 1);
        put("allergys", 2);
        put("medications", 3);
        put("immunizations", 4);
        put("documents", 5);
    }};
was turned into
  static transient Map<String, Integer> indexType = new LinkedHashMap<String, In

[2021-06-04 19:53] thomasbehr commented on #104
yGuard does not remove initializer code. This looks like your decompiler was not able to decompile the anonymous class you are using. Did you actually test if the obfuscated code still works? If you did and your code does not work anymore, please post your yGuard task configuration to give us a chance at reproducing the problem.

[2021-06-05 05:51] dsokoya commented on #104
Thank you so much for taking the time to explain the process. You are absolutely right. The decompiler wasn't showing the anonymous classes for the static initialized variables. I was able to see these classed in the jar file from zip archiver. I was able to trace the problem variable names hardcoded using reflection in the program but the names changed at runtime due to the obfuscation.
Btw I app

[2021-06-07 06:53] thomasbehr commented on #104
Glad you were able to sort it out.

[2021-06-07 06:53] #104 closed

[2021-06-27 00:58] soprabaixar2 opened #105 "Add Spring Boot with Gradle example"
I tried to adapt it with the examples you have here, but spring boot by default when running the build of Gradle it generates 2 jar (app.jar and app-plain.jar).

The app.jar works but the app-plain.jar does not work and yGuard generates the obfuscated file based on the app-plain.jar. I tried to force it to generate an obfuscated as the base of the app.jar but it gives an error.

Could you just sho

[2021-06-28 13:01] thomasbehr commented on #105
Please see the [processing example](https://github.com/yWorks/yGuard/tree/master/examples/processing) and the [Yguard Obfuscation in a Spring Boot Project](https://github.com/yWorks/yGuard/issues/43) topic for further information on obfuscation Spring Boot applications.

[2021-07-05 08:01] #98 closed

[2021-09-14 20:05] boilrmkr opened #107 "ClassNotFoundException - missing external dependency"
Hi,

I am trying to integrate yGuard with ant build script and have all the necessary jar files in the 'lib' folder. My code compiles correctly but yguard failing to complete its task by throwing ClassNotFoundException error message.

My code doesn't even use 'jpos.events.DataListener' class. I have the following two jpos jar files in the 'lib' folder and they are used by my code.

jpos111.jar
jpo

[2021-09-15 08:24] Fohlen commented on #107
As per `build.gradle` the following dependencies need to be available in your classpath

- `org.ow2.asm:asm:7.2`
- `org.apache.ant:ant:1.10.7`
- `com.yworks:annotation:3.0.0`

Since you use `ant` to invoke the task, it is already in the classpath, thus only implicitely required.

[2021-09-15 11:44] thomasbehr commented on #107
@boilrmkr

Unlike @Fohlen suggested, this is not a problem with the yGuard classpath, but a simple misconfiguration in your <yguard> ANT task: You cannot use wildcards in the `location` attribute of a `<pathelement>` element in a `<externalclasses>` element.

Alternatively, do not use pedantic error checking.

[2021-09-17 10:25] #105 closed

[2021-09-17 16:20] thomasbehr opened #108 "Update yGuard to work with Java 15"
- Check if Java 15's javac produces invokeconstant byte code instructions for plain Java source code.
(If yes, postpone until #86 is done.)
- Check if there are invokeconstant byte code instructions in Java 15's runtime library.
(If yes, postpone until #86 is done.)
- Check if ASM supports Java 15 byte code. (If no, update ASM.)
- Increase the class file version supported by yGuard.

It is not nec

[2021-09-17 16:28] thomasbehr opened #109 "Add support for Records"
See [JEP 395: Records](https://openjdk.java.net/jeps/395).

[2021-09-17 22:38] Fohlen commented on #100
#108 supsersedes this.

[2021-09-17 22:38] #100 closed

[2021-09-17 22:38] #99 closed

[2021-09-19 15:09] sgaurav37533 commented on #108
Hello can you please assign me this issue I can take care of it.

[2021-09-28 11:36] jeancc opened #110 "Unsupported class file major version 61"
I'm trying to obfuscate code compiled with openjdk 17, using yguard 3.0.0. It seems that openjdk 17 is not suported:

Ant output:

[shrink] ERROR: Unsupported class file major version 61
[shrink] Unsupported class file major version 61

[2021-09-28 12:41] thomasbehr commented on #110
Correct, yGuard does not support Java 17 byte code. See [Compatibility](https://yworks.github.io/yGuard/compatibility/) in the [yGuard documentation](https://yworks.github.io/yGuard/).

[2021-09-28 12:41] #110 closed

[2021-09-28 12:48] jeancc commented on #110
I've tried to change 'Compiler compliance level' on eclipse IDE to 11, with no luck...

[2021-09-28 13:08] thomasbehr commented on #110
Actually use a Java 11 compiler to compile your source code to Java 11 byte code instead of asking a higher version compiler to produce lower version byte code.

[2021-10-28 18:40] akshit0201 opened #112 "Unable to setup using Gradle"
I'm following [this](https://yworks.github.io/yGuard/setup/#setup-using-gradle) guide and I'm getting this error:
[code]
Here is my `build.gradle`:
[code]

[2021-10-28 21:41] #112 closed, assigned to nobody

[2021-11-02 16:41] Vampire commented on #108
What about Java 17?

[2021-11-03 17:07] thomasbehr commented on #108
I am currently investigating the first point of this issue. I do believe that javac will not create CONSTANT_Dynamic byte code instructions when compiling Java source code, since there are not such instructions in the runtime libraries of Java 15, 16, and 17. If I am right, all there is to do is updating ASM and increasing the supported class file version. In short, Java 15 support will be ready s

[2021-11-04 17:48] #108 closed

[2021-11-30 07:33] wouter-admiraal-sonarsource opened #115 "New patch release including Ant update?"
Hi,

Now that #114 was merged, would it be possible to have a new (patch?) release? This would allow us to update our dependency on yGuard and get rid of this potential vulnerability to [CVE-2020-1945](https://nvd.nist.gov/vuln/detail/CVE-2020-1945) 🙏 .

[2021-12-21 12:01] pietroSV commented on #102
Hi. When will new release be available? Thanks

[2022-02-12 20:39] travisspencer opened #116 "Support Java 17"
When I try to compile my code with Java 17 and obfuscate it, I get this error using version 3.0.0:

[code]

To work around this, I add this to my build.gradle file:

[code]

Is this because Java 17 isn't supported?

[2022-02-12 21:18] Fohlen commented on #116
Indeed. See https://github.com/yWorks/yGuard/issues/108#issuecomment-959739823

[2022-02-23 13:06] #109 closed

[2022-02-26 10:49] sky-starver opened #117 "Kotlin not being obfuscated"
I just tried kotlin and I notice it can co exists with java code in Intellij,it can really speed up the development, but there is one security problem because kotlin file is not being obfuscated by yguard

Here is the resulting jar code after I add a kotlin code in my java obfuscated project

[code]

There is also this metadata problem
[code]

My unobfuscated class
[code]
Any help is much apprecia

[2022-02-28 08:37] yGuy commented on #117
Yes, no, maybe!?

Are you saying that the obfuscation could be better or is something broken after obfuscation?
I am not familiar with Kotlin's bytecode and specifically the meta-data.

Can you please elaborate on "the problem"?
And ideally if you would want to see this improvement, it would be awesome if you could collect relevant information on how Kotlin "works" and what changes would need to b

[2022-02-28 14:39] Fohlen commented on #117
It's documented that you cannot currently obfuscate Kotlin code. Please read the documentation here: https://yworks.github.io/yGuard/compatibility/#compatibility-to-3rd-party-jvm

[2022-02-28 16:00] sky-starver commented on #117
Hello guys thank you for helping me. I have found a workaround for this matter. I hope I can help future reader of this thread. Firstly in Intellij you should obfuscate your jar then after that use proguard gui(proguard version 7.1.0-beta1 sourceforge.net) to obfuscated again the code so that the metadata will be gone and the kotlin code will also be obfuscated to a java class.

[2022-02-28 17:21] #117 closed

[2022-03-01 17:44] thomasbehr commented on #115
Sorry for the long wait.

[2022-03-01 17:44] #115 closed

[2022-03-01 17:45] #116 closed

[2022-03-01 17:48] thomasbehr opened #118 "Update documentation"
- update compatibility section
- update navigation links to make it work offline

[2022-03-01 17:58] thomasbehr opened #119 "Improve record obfuscation"
When compiling a record, the java compiler inserts bootstrap methods that handle equals/hashCode/toString. These bootstrap methods are passed a descriptor string identifying the record's components by name.
yGuard replaces that descriptor string for the bootstrap method invocation with a remapped descriptor string. The value of the old descriptor string is kept in the constant pool to prevent brea

[2022-03-03 09:15] wouter-admiraal-sonarsource commented on #115
No problem 🙂 . Thanks for your work 👍 .

[2022-03-11 16:53] yGuy commented on #101
Closing because of missing feedback.

[2022-03-11 16:53] #101 closed

[2022-03-16 18:41] kouellette opened #120 "3.1.0 on Maven Central"
Are there plans to upload the 3.1.0 artifacts to Maven Central?

[2022-03-24 13:33] thomasbehr opened #121 "Improve replaceContent for resource files"
When using `<adjust replaceContent="true">`, yGuard can replace either path names or class names (if `replaceContentSeparator="."` is used as well), but not both in one file.

As a result, content like e.g.
[code]
can be adjusted to
[code]
or
[code]
but not to
[code]
which is what you need in this case.

[2022-03-24 15:46] yGuy commented on #121
Having  `replaceContentSeparator` accept more than one character could solve this `"./\;,"`

[2022-03-28 10:34] gbl opened #122 "Cannot call method of outer class in yguard-obfuscated file"
Note that this is similar to https://stackoverflow.com/questions/66350654/unable-to-access-private-fields-and-methods-from-inner-class-after-yguard-obfusc where the answer says it works with yguard 3.0 and should possibly be posted as an issue if the problem persists.

Here's my example.java:
[code]

and here's the yguard part of my build.xml:

[code]

Running both files:
[code]

I downloaded the

[2022-03-28 10:37] gbl commented on #122
[ygexample.zip](https://github.com/yWorks/yGuard/files/8361908/ygexample.zip)

Here's the complete source directory, including the yguard files in lib/, if it helps in any way. Compile with `ant jar`.

[2022-04-07 08:15] bernhardf-ro opened #123 "Improvement for "replaceClassNameStrings" to optionally replace partial paths"
Currently `replaceClassNameStrings` only causes complete strings of fully qualified class names to be modified.
Would it be possible to add an option to also modify strings containing paths starting at the root, but not ending in a class?
So for example when you have the following replacement: `System.out.println("com.mycompany.MyClass");` => `System.out.println("b.c.d");`
the new option would als

[2022-04-07 12:09] Fohlen commented on #123
It would probably be best to add a regex here so the users can configure it to their liking

[2022-04-08 09:29] thomasbehr commented on #122
Thank you very much for the detailed report and the example files.

This is a bug in yGuard's shrinker (only).

As a workaround, you can rename without shrinking. I.e. remove the line
[code]
from your `<yguard>` task configuration.

[2022-04-08 10:21] thomasbehr commented on #123
The code that replaces class name strings is in `com.yworks.yguard.obf.classfile.ClassFile#replaceConstantPoolStrings`.

That said, `"/com/mycompany/resources/" + filename"` is **not** a class name and thus should not be affected by a feature called "replaceClassNameStrings".
In my opinion, code along the lines of `System.out.println("/com/mycompany/resources/" + filename);` is a horrible anti-pat

[2022-04-11 08:30] #122 closed

[2022-07-07 06:55] thesherrinford opened #126 "Spring-boot war obfuscation"
spring boot obfuscated war deletes springframework directory despite of using external library attribute.
moreover, manifest.mf file contents are getting replaced despite of mentioning the opposite in adjust attribute.

[2022-07-07 07:07] Fohlen commented on #126
Could you add a minimal example with a POM or Gradle to reproduce? You should assume that collaborators of this project do not necessarily know Spring Boot.

[2022-07-07 08:50] thesherrinford commented on #126
it's a maven project, so pom.xml
PFA dependencies and plugin attributes.

[2022-07-07 09:23] thomasbehr commented on #126
Photos of your screen do not qualify as short, self-contained example **that lets us reproduce the problem**. Unless you can provide such an example (in the case of Maven that means a **standalone pom.xml**), we will not even try to look into your problem.

[2022-07-07 11:12] thesherrinford commented on #126
apologies!
- PFB the pom.

https://drive.google.com/file/d/1HBhtN6DGFq_MKFqxu0O4FpzgxtSsALBT/view?usp=drivesdk

[2022-07-07 11:14] thesherrinford commented on #126
apologies!
- PFA the pom.

https://drive.google.com/file/d/1HBhtN6DGFq_MKFqxu0O4FpzgxtSsALBT/view?usp=drivesdk

[2022-07-11 02:45] thesherrinford commented on #126
hi!
any update please.

[2022-07-11 08:33] thomasbehr commented on #126
When I run one of the Maven goals for your pom.xml, Maven tells me "No sources to compile". I.e. it is not possible to reproduce the problem. And thus it is not possible to determine the cause for the problem either.

That said, yGuard does not support WAR files. It supports JAR files only.

[2022-07-11 11:14] thesherrinford commented on #126
gimme some time, I'll upload the whole project in a repository and share.
Actually I've been able to get two wars, normal output and an obfuscated one. I'll help you replicate the issue.

[2022-07-11 11:54] yGuy commented on #126
No. Do not upload the whole project. If you upload, upload a minimal example. Otherwise no one will want to spend their free time on this.

[2022-10-12 07:54] comschmid commented on #122
Thank you for this valuable task and for fixing this issue!

Any idea when a new official release that includes this fix is planned?

[2022-10-12 08:39] thomasbehr commented on #122
We have not decided yet on a date for the next release.

[2022-11-02 15:28] Darshan-shivashankar opened #127 "Springboot Java Code Obfuscation Error"
Cloned and followed the exact steps in [processing example](https://github.com/yWorks/yGuard/tree/master/examples/processing),
however, facing the below error (trace attached below)
`java.lang.IllegalArgumentException: No visible constructors in class com.yworks.example.HelloWorld.HelloWorldApplication
	at org.springframework.cglib.proxy.Enhancer.filterConstructors(Enhancer.java:760) ~[spring-core

[2022-11-02 21:50] Fohlen commented on #127
Hey @Darshan-shivashankar if I'm not mistaken this is the _default_ configuration for Maven projects. Indeed, without adding this attribute, the produced JAR will not have an entry in the manifest. Happy to see a PR to add this change.

[2022-11-03 16:20] thomasbehr commented on #127
The problem is the `<shrink>` element in line 59 of [BOOT-INF/pom.xml](https://github.com/yWorks/yGuard/blob/master/examples/processing/BOOT-INF/pom.xml). Shrinking class `HelloWorldApplication` will remove the constructor from said class, because it is "unused". (Spring tries to instantiate `HelloWorldApplication` even though that is not necessary at all.)

If you remove the `<shrink>` element wi

[2022-11-04 09:23] #127 closed

[2022-11-22 04:20] ctadlock opened #128 "Support for Java 18+?"
Looks like `MAJOR_VERSION` is `0x3D` (61) which is Java 17.
https://github.com/yWorks/yGuard/blob/1f7f317f62804e4f1c910ca2410593a8bfee55be/src/main/java/com/yworks/yguard/obf/classfile/ClassConstants.java#L30

https://stackoverflow.com/questions/9170832/list-of-java-class-file-format-major-version-numbers

Error: `java.io.IOException: Incompatible version number for class file format: 62.0`

[2022-11-22 05:47] ctadlock opened #129 "Remove Kotlin Metadata annotation"
Kotlin adds a Metadata annotationto every class which includes the class name and all function names; mostly defeating the purpose of renaming. There in an [unmeta](https://github.com/oliver-jonas/unmeta) plugin, but it would be better if it was incorporated into this one so didnt have to deal with both.

[2022-11-22 08:01] thomasbehr commented on #128
At the time of this writing, yGuard supports class file formats of Java 17 and lower. See also the [compatibility documentation](https://yworks.github.io/yGuard/compatibility.html).

[2022-11-22 11:08] yGuy commented on #129
IIRC, by default yGuard already removes annotations that are not marked as runtime visible annotations. Can you please provide more information about how these annotations work (are annotated) and how they are used? Because if they don't get removed, then these should be runtime visible annotations which again would indicate that Kotlin might need them at runtime. Pointing to relevant documentatio